* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --primary:#adf0d1;
    --secondary:#00203f;
   
}


.front{
    display: flex;
    width: 100%;
    margin: 5px;
    padding: 10px;
    flex-direction: row;
    flex-wrap: wrap;

}
.col{
    margin: 20px ;
    width: 45%;
    padding: 10px ;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.25);
}
.col ul{
    padding: 10px;
}
.container{
    margin: 10px;
    background-color: var(--primary);
}
h2{
    padding: 5px;
    margin-top: 10px;
    width: 60%;
    background-color: var(--secondary);
    color: white;
    border-radius: 5px;
    
}
.register{
    align-items: center;
    margin: 20px;
    width: 150px;
    height: 30px;

}
.register a{
    text-decoration: none;
}
.button {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-bottom: 20px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
